@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    background-color: white;
    color: #fda40b;
    border-top: 1px dashed #fda40b;
    border-bottom: 1px dashed #fda40b;
    padding: 2px 0;
}
